<html>

<div align="center">
	<h1>hi shopify person</h1>
	
	<body>
		
		<h3>Add Warehouse (no dupes)</h3>
		<form method = "POST" action = "/">
			<input type = "text" name = "location1" placeholder = "Location">
			<input type = "number" name = "inventory" placeholder = "Inventory #">
			<button type = "submit" value = "update">Create</button>
		</form>

		<h3>Update inventory</h3>
		<form method = "POST" action = "/update/">
			<input type = "text" name = "location2" placeholder = "Location">
			<input type = "number" name = "newInventory" placeholder = "New inventory #">
			<button type = "submit" value = "update">Edit</button>
		</form>

		<h3>Delete warehouse</h3>
		{% block display2 %}
		<form method = "POST" action = "/delete/">
			<input type = "text" name = "location3" placeholder = "Location">
			<button type = "submit" value = "update">DEMOLISH</button>
		</form>
		{% endblock %}

		<h3>Warehouses</h3>
		{% for warehouse in warehouses %}
			<p>{{warehouse.location}} warehouse has inventory of {{warehouse.inventory}}</p>
		{% endfor %}

	</body>

</div>
</html>
